 .container {
  display: grid;
  background-color: rgb(10, 10, 10);
 padding-left: 270px;
 padding-top: 60px;
  /* grid-template-columns: repeat(4, 1fr);  */
    grid-template-columns: 240px 240px 240px 240px;

 grid-auto-rows: 200px;
  gap: 20px;
  }
 .container>div{
  /* background-color:aqua; */
    border-radius: 6px;
    /* border: 0px solid black; */
    display: flex;
    /* align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: bold;
    color: black; */
} 
img{
   /* width: 100%;
  height: 100%; */
  object-fit: cover;
  border-radius: 6px;
} 
 

.item1 {
  
    grid-column: 1/span 1;
    grid-row:1/ span 1;  
     height: 160px;
     width: 160px;
     /* column-gap: 10px; */
    /* width: 200px; */ 
    /* justify-content: space-evenly; */

  }
.item2
 { 
  grid-column: 2/span 1; 
  grid-row: 1/span 1; 
  height: 60px;
  width: 160px;
  margin-left: -80px;
 }

.item3 {
   grid-column: 3/span 1;
    grid-row: 1/span 2; 
    margin-left: -160px;
    height: 160px;
     width: 160px;
   } 

  
.item4 {
   grid-column:4/ span 1; 
   grid-row:1/ span 1;
   height: 220px;
   width: 160px;
   margin-left: -240px;

   } 


 .item5 { 
    grid-column: 1/span 1;
   grid-row:2/ span 1;
   height: 80px;
   width: 160px;
   margin-top:-40px;    
   }  
   

 .item6 {
    grid-column: 1/span 1; 
  grid-row:2 /span 1; 
   height: 120px;
   width: 160px;
   margin-left: 180px;
      margin-top:-140px;  

 }   

   .item7 {
   
    grid-column:2/ span 1;
    grid-row: 2/span 2; 
    width: 160px; 
    margin-left: 100px;
    margin-top:-40px;  
    height: 150px;

  }   
 .item8 {
    grid-column:4/ span 1; 
   grid-row: 2/span 1; 
  margin-top:20px;  
  margin-left: -240px;
  width: 160px;
  height: 280px;
 }  



.item9 { 
  grid-column: 1/span 1;
   grid-row: 3/span 1;
    height: 240px;
   width:160px;
   margin-top:-160px;  

   }

.item10 { 
  grid-column: 1/span 1; 
  grid-row: 3/span 1;
    height: 300px;
   width: 160px;
   margin-top:-220px;
      margin-left:180px;
    
}



.item11 { 
  grid-column:3/span 2; 
  grid-row:3/ span 2;
     margin-top:-90px;
      height:170px;
   width:160px;
      margin-left:-160px;
    
 

 }   
 
  .item1>img {
height: 160px;
     width: 159px;
border-radius: 10px;
}
 
.item2>img {
height: 62px;
     width: 164px;
border-radius: 10px;
} 

.item3>img {
height: 164px;
width: 162px;
border-radius: 10px;
}

.item4>img {
height: 224px;
width: 160px; 
border-radius: 10px;
}

.item5>img {
width: 160px;
height: 90px;
border-radius: 10px;
}
.item6>img {
width: 162px;
height: 122px;
border-radius: 10px;
} 
 .item7>img {
width: 170px;
height:162px;
border-radius: 10px;
}
.item8>img {
width: 170px;
height: 280px;
border-radius: 10px;
}
 
.item9>img {
width: 160px;
height: 257px;
border-radius: 10px;
}
.item10>img {
width: 160px;
height: 300px;
border-radius: 10px;
}
.item11>img {
width: 160px;
height: 170px;
border-radius: 10px;
}
 